Package: io.essential.noCydia
Name: noCydia
Priority: required
Depends: apt (>=1.8.2), sed (>=4.0), cy+os.ios (>=10)
Version: 0-2.3
Architecture: iphoneos-arm
Description: installs file so APT will validate repository gpg w/o Cydia installed
Maintainer: @mwooIweaver <https://twitter.com/mwooIweaver>
Author: @mwooIweaver <https://twitter.com/mwooIweaver>
Section: essential
