Package: essential
Essential: yes
Priority: required
Section: essential
Installed-Size: 0
Maintainer: @mwooIweaver <https://twitter.com/mwooIweaver>
Architecture: iphoneos-arm
Version: 0-2-2.5
Pre-Depends: apt (>=1.8.2-3), cy+os.ios (>=10)
Depends: ws.hbang.newterm2 (>=2.4), cy+model.iphone (<< 11.0) | cy+model.ipad (<< 11.0) | cy+model.ipod | science.xnu.substituted, cy+model.iphone (<< 11.0) | cy+model.ipad (<< 11.0) | cy+model.ipod | com.ex.substitute
Description: contains nothing, represents everything
Name: essential4all
Depiction: https://mwoolweaver.github.io/essential4all/web/essential4all.html
