Name: essential w/o Cydia
Package: essential.no.cydia
Version: 0.3
Section: essential
Priority: required
Architecture: iphoneos-arm
Installed-Size: 0
Pre-Depends: io.essential.repo.setup (>=0.3)
Depends: io.essential.noCydia (>=0.3), cy+model.iphone (<< 11.0) | cy+model.ipad (<< 11.0) | cy+model.ipod | science.xnu.substituted, cy+model.iphone (<< 11.0) | cy+model.ipad (<< 11.0) | cy+model.ipod | com.ex.substitute
Provides: essential (>> 0-2)
Replaces: essential
Description: contains nothing, represents everything
Maintainer: @mwooIweaver <https://twitter.com/mwooIweaver>
Author: @mwooIweaver <https://twitter.com/mwooIweaver>
